{% extends "licitacao/base.html" %}

    {% load static %}

    {% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">

            <!-- Single Welcome Slide -->
            <div class="single-welcome-slide">
                <!-- Background Curve -->
                <div class="background-curve">
                    <img src="{% static 'img/core-img/curve-1.png' %}" alt="">
                </div>

                <!-- Welcome Content -->
                <div class="welcome-content h-100">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <!-- Welcome Text -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-text">
{#                                    <h2 data-animation="fadeInUp" data-delay="100ms">AUDIT.</h2>#}
                                    <img id="audit-log" src="{% static 'img/core-img/audit-logo.png' %}" alt="">
                                    <h3 data-animation="fadeInUp" data-delay="100ms">Seu acompanhamento de Licitações</h3>
                                    <h5 data-animation="fadeInUp" data-delay="400ms">Selecione o perfil para acessar</h5>
                                    <a href="{% url 'url_licitacoes' %}" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">CIDADÃO</a>
{#                                    <a href="{% url 'url_licitacoes' %}" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">MUNICÍPIO</a>#}
                                </div>
                            </div>
                            <!-- Welcome Thumbnail -->
                            <div class="col-12 col-md-6">
                                <div class="welcome-thumbnail">
                                    <img src="{% static 'img/bg-img/1.png' %}" alt="" data-animation="slideInRight" data-delay="400ms">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Newsletter Area Start ***** -->
    <section class="uza-newsletter-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <!-- Newsletter Content -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="nl-content mb-80">
                        <h2>Inscreva-se em nossa Newsletter</h2>
                        <p>Receba notificações sobre novas licitações, atualizações, notícias, etc...</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="nl-form mb-80">
                        <form action="#" method="post">
                            <label>
                                <input type="email" name="nl-email" value="" placeholder="Seu E-mail">
                            </label>
                            <button type="submit">Inscrever-se</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Border Bottom -->
            <div class="border-line"></div>
        </div>
    </section>
    <!-- ***** Newsletter Area End ***** -->

    {% endblock %}
