{% extends "licitacao/base.html" %}

    {% load static %}

    {% block content %}

    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Edital de Julgamento</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <!-- ***** Contact Area Start ***** -->
    <section class="uza-contact-area section-padding-80">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Contact Card -->
                <div class="col-3 col-lg-6">
                    <div class="contact-sidebar-area mb-80">
                        <!-- Single Sidebar Area -->
                        <div class="single-contact-card mb-50">
                            <h4>AVISO DE LICITAÇÃO</h4>
                            <h3>Pregão Eletrônico nº 0197/2019</h3>
                            <h6>Processo de Compras nº 0612/2019</h6>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label select-inform fraude" for="customRadio1">POSSÍVEL FRAUDE</label>
                            </div>
                        </div>

                        <!-- Single Sidebar Area -->
                        <div class="single-contact-card mb-50">
                            <h4>AVISO DE LICITAÇÃO</h4>
                            <h3>Pregão Eletrônico nº 0198/2019</h3>
                            <h6>Processo de Compras nº 0613/2019</h6>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label select-inform" for="customRadio1">Selecionar para Denunciar</label>
                            </div>
                        </div>

                        <!-- Single Sidebar Area -->
                        <div class="single-contact-card mb-50">
                            <h4>AVISO DE LICITAÇÃO</h4>
                            <h3>Pregão Eletrônico nº 0199/2019</h3>
                            <h6>Processo de Compras nº 0614/2019</h6>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                              <label class="custom-control-label select-inform" for="customRadio1">Selecionar para Denunciar</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'url_denuncia' %}" class="btn btn-danger">Denunciar</a>
        </div>
    </section>
    <!-- ***** Contact Area End ***** -->

    {% endblock %}
