{% extends "licitacao/base.html" %}

    {% load static %}

    {% block content %}

    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcrumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">LICITAÇÕES</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background Curve -->
        <div class="breadcrumb-bg-curve">
            <img src="{% static 'img/core-img/curve-5.png' %}" alt="">
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

    <section class="uza-portfolio-area section-padding-80">
        <!-- Portfolio Menu -->
        <div class="portfolio-menu text-center mb-80">
            <a href="{% url 'url_aviso' %}" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">AVISO DE LICITAÇÃO</a>
            <a href="{% url 'url_julgamento' %}" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">EDITAL DE JULGAMENTO</a>
            <a href="{% url 'url_homologada' %}" class="btn uza-btn btn-2" data-animation="fadeInUp" data-delay="700ms">EDITAL DE HOMOLOGAÇÃO</a>
        </div>
    </section>

    {% endblock %}
